{% extends "base.html" %}

{% block content %}

<h1>Cart</h1>

{% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
{% endfor %}

<!-- Table to show cart. -->
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Image</th>
        <th scope="col">Seller Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Mark As Saved for Later</th>
        <th scope="col">Number to Mark</th>
        <th scope="col">Update Quantity</th>
        <th scope="col">New Quantity</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <form method="post" action="">
      <tbody>
        {% for item in cart%}
          <tr>
            <th scope="row">{{item.product_name}}</th>
            <td><img src="{{item.product_image}}" alt="Image Not Found" height="100"></td>
            <td>{{item.seller_name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit_price}}</td>
            <td>{{item.total_price}}</td>
  
            <td><input type="checkbox" name="move_to_saved" value="{{item.product_id}},{{item.seller_id}},{{item.quantity}},move"></td>
            <td><input style="width:100px" type="number" min="1" max={{item.quantity}} name="{{item.product_id}},{{item.seller_id}},{{item.quantity}},move"></td>
  
            <td><input type="checkbox" name="update_quantity" value="{{item.product_id}},{{item.seller_id}},quantity"></td>
            <td><input style="width:100px" type="number" min="1" name="{{item.product_id}},{{item.seller_id}},quantity"></td>
  
            <td><input type="checkbox" name="delete_from_cart" value={{item.product_id}},{{item.seller_id}},delete></td>
  
          </tr>
        {% endfor %}
      </tbody>
    </table>

      <h3>Total Cost: {{total_cost}}</h3>

      <input type="submit" name="type" value="Purchase Cart">
      <input type="submit" name="type" value="Move Items to Saved">
      <input type="submit" name="type" value="Update Quantities">
      <input type="submit" name="type" value="Delete Items">
  
    </form>  
{% endblock %}
