{% extends "base.html" %}

{% block content %}

<br><br>

<form action="{{ url_for('orderFulfillments.orderFulfillments') }}" method="post">
  <select name="search_field">
    <option value="buyer_name" [selected]="{{search_field}}=='buyer_name'">Buyer Name</option>
    <option value="a.address">Buyer Address</option>
    <option value="pr.name">Product Name</option>
    <option value="pr.description">Product Description</option>
  </select>
  contains: 
  <input type="text" name="search_criteria" value="{{search_criteria}}">
  <input type="submit" value="Search Fulfillment History">
</form>

<br/>
<h2>Order Fulfillment History</h2>
{{pagination.info}}
{{pagination.links}}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Buyer Name</th>
      <th scope="col">Buyer Address</th>
      <th scope="col">Total Quantity</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% set statuses = ['ORDERED', 'SHIPPED', 'DELIVERED'] %}  
    {% for order in orderHistory %}
      <tr>
        <th scope="row">{{order.purchase_id}}</th>
        <td>{{order.buyer_name}}</td>
        <td>{{order.buyer_address}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.date}})</td>
        <td>{{statuses[order.status]}}</td>
        <th> 
            <a class="btn btn-secondary" href="{{ url_for('orderFulfillments.orderFulfillmentDetails', purchase_id=order.purchase_id) }}" role="button">View / Update</a>
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{pagination.links}}


{% endblock %}