{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Summary of Reviews</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Number of Reviews</th>
      <th scope="col">Average Number of Stars</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{productReviewSummary.count}}</th>
        <td>{{productReviewSummary.average}}</td>
      </tr>
  </tbody>
</table>

<h2>Reviews</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Upvotes</th>
      <th scope="col">Buyer ID</th>
      <th scope="col">Number of Stars</th>
      <th scope="col">Date</th>
      <th scope="col">Review</th>

    </tr>
  </thead>
  <tbody>
    {% for product_review in productReviews%}
      <tr>
        <td>
          {{product_review.upvotes}}
          <a class="btn btn-secondary" href="{{ url_for('users.upvoteProductReview', buyer_id = product_review["buyer_id"], prod_id = product_review.product_id, sel_id = product_review.seller_id, upvotes = product_review["upvotes"])}}" role="button">Upvote</a>
  
        </td>
        <input type="hidden" name="upvotes" value="{{product_review.upvotes}}" /> 
        <td>{{product_review.buyer_id}}</td>
        <input type="hidden" name="buyer_id" value="{{product_review.buyer_id}}" /> 
        <td>{{product_review.num_stars}}</td>
        <td>{{product_review.date}}</td>
        <td>{{product_review.description}}</td>
      </tr>
      <tr>
        {% for imageURL in product_review.images%}
        {% if imageURL != "" %}
        <td><img src="{{imageURL}}" width = 200></td>
        {% endif %}
        {% endfor %}
        
         
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}