{% extends "base.html" %}

{% block content %}

<br><br>
<h2>My Products</h2>
{{pagination.info}}
{{pagination.links}}
<table id="product-table" class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody>
    {% for product in productList %}
      <tr>
        <th scope="row">{{product.name}}</th>
        <td>{{product.description}}</td>
        <th> 
            <a class="btn btn-secondary" href="" role="button">Edit</a>
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{pagination.links}}
<br/>
<a class="btn btn-secondary" href="{{ url_for('newProduct.addNewProduct') }}" role="button">Add New Product</a>


{% endblock %}