{% extends "base.html" %}

{% block content %}

    <h1>Product Categories</h1>
{#    Buttons to search for products based on categories.#}
    <a href="{{ url_for("productSearchCategory.product", input="tech") }}"><input type="submit" name="Tech" value="Tech" rel="tooltip" class="btn btn-info">
        <i class="material-icons"></i>
        </input>
    </a>
    <a href="{{ url_for("productSearchCategory.product", input="books") }}"><input type="submit" name="Books" value="Books" rel="tooltip" class="btn btn-info">
        <i class="material-icons"></i>
        </input>
    </a>
    <a href="{{ url_for("productSearchCategory.product", input="kitchen") }}"><input type="submit" name="Kitchen" value="Kitchen" rel="tooltip" class="btn btn-info">
        <i class="material-icons"></i>
        </input>
    </a>
    <a href="{{ url_for("productSearchCategory.product", input="appliances") }}"><input type="submit" name="Appliances" value="Appliances" rel="tooltip" class="btn btn-info">
        <i class="material-icons"></i>
        </input>
    </a>
    <a href="{{ url_for("productSearchCategory.product", input="outdoors") }}"><input type="submit" name="Outdoors" value="Outdoors" rel="tooltip" class="btn btn-info">
        <i class="material-icons"></i>
        </input>
    </a>
    <a href="{{ url_for("productSearchCategory.product", input="toys") }}"><input type="submit" name="Toys" value="Toys" rel="tooltip" class="btn btn-info">
        <i class="material-icons"></i>
        </input>
    </a>
    <a href="{{ url_for("productSearchCategory.product", input="wind") }}"><input type="submit" name="Wind" value="Wind?  Thanks random data generator." rel="tooltip" class="btn btn-info">
        <i class="material-icons"></i>
        </input>
    </a>
    <a href="{{ url_for("productSearchCategory.product", input="clothes") }}"><input type="submit" name="Clothes" value="Clothes" rel="tooltip" class="btn btn-info">
        <i class="material-icons"></i>
        </input>
    </a>
{% endblock %}
