{% extends "base.html" %}

{% block content %}

    <h1>Product Search</h1>
    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Image</th>
            <th scope="col">Product ID</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        {% for item in product%}
            <tr>
                <th scope="row">{{item.name}}</th>
                <td><img src="{{item.image}}" alt="User Image Not Found"></td>
                <td>{{item.product_id}}</td>
                <td>{{item.description}}</td>
                <td>{{item.category}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
