{% extends "base.html" %}

{% block content %}

<br><br>
<h2>My Products</h2>
{{pagination.info}}
{{pagination.links}}
{#    Table to show all of an owner's products. #}
<table id="product-table" class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody>
    {% for product in productList %}
      <tr>
        <th scope="row">{{product.name}}</th>
        <td>{{product.description}}</td>
        <th>
{#            Button to edit an owner's product.#}
            <a href="{{ url_for("newProduct.editProduct", input=product.product_id) }}"><input type="submit" name="edit_product_button" value="Edit Product"rel="tooltip" class="btn btn-info">
                <i class="material-icons"></i>
                </input>
            </a>
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{pagination.links}}
<br/>
{#    Button to add a new product.#}
<a class="btn btn-secondary mb-5" href="{{ url_for('newProduct.addNewProduct') }}" role="button">Add New Product</a>


{% endblock %}