{% extends "base.html" %}

{% block content %}

<h1>Purchase History</h1>

{{pagination.info}}
{{pagination.links}}

<!-- Table to show purchases. -->
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Purchase ID</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">See More</th>
      </tr>
    </thead>
      <tbody>
        {% for item in purchases%}
          <tr>
            <th scope="row">{{item.purchase_id}}</th>
            <td scope="row">{{item.date}}</th>
            <td scope="row">{{item.status}}</th>
            <td>
              <a href="{{ url_for("purchases.individual_purchase", purchase_id=item.purchase_id) }}">
                <input type="submit" value="More Info" class="btn btn-dark"/>
              </a> 
            </td>
        {% endfor %}
      </tbody>
  </table>

{% endblock %}
