{% extends "base.html" %}

{% block content %}

<h1>Submit Review</h1>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.numStars.label }}<br/>
    {{ form.numStars(size=32) }}<br/>
    {% for error in form.numStars.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br/>
    {{ form.description(size=32) }}<br/>
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.image1.label }}<br/>
    {{ form.image1(size=32) }}<br/>
    {% for error in form.image1.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.image2.label }}<br/>
    {{ form.image2(size=32) }}<br/>
    {% for error in form.image2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.image3.label }}<br/>
    {{ form.image3(size=32) }}<br/>
    {% for error in form.image3.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  

  <p>{{ form.submit() }}</p>
</form>

{% endblock %}