{% extends "base.html" %}

{% block content %}

<br><br>

<h2>User Reviews for Products:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Number of Stars</th>
      <th scope="col">Date</th>
      <th scope="col">Review</th>

    </tr>
  </thead>
  <tbody>
    {% for product_review in userProductReviews%}
      <tr>
        <th scope="row">{{product_review.product_id}}</th>
        <td>{{product_review.num_stars}}</td>
        <td>{{product_review.date}}</td>
        <td>{{product_review.description}}</td>
        <th> <a class="btn btn-secondary" href="{{ url_for('users.editReview')}}" role="button">Edit</a></th>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>User Reviews for Sellers:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Number of Stars</th>
      <th scope="col">Date</th>
      <th scope="col">Review</th>

    </tr>
  </thead>
  <tbody>
    {% for seller_review in userSellerReviews%}
      <tr>
        <th scope="row">{{seller_review.seller_id}}</th>
        <td>{{seller_review.num_stars}}</td>
        <td>{{seller_review.date}}</td>
        <td>{{seller_review.description}}</td>
        <th> <a class="btn btn-secondary" href="{{ url_for('users.editReview')}}" role="button">Edit</a></th>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
