{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Summary of User Reviews for Products:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Number of Stars</th>
      <th scope="col">Date</th>
      <th scope="col">Review</th>

    </tr>
  </thead>
  <tbody>
    {% for product_review in userProductReviews%}
      <tr>
        <th scope="row">{{product_review.product_id}}</th>
        <td>{{product_review.num_stars}}</td>
        <td>{{product_review.date}}</td>
        <td>{{product_review.description}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
